{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Lemonada:wght@300&family=Lobster&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/cart2.css' %}">
   



    <title>Food Cart</title>
</head>
<body>
    <header id="site-header">
        <div class="container">
          <h1>Shopping cart</h1>
        </div>
      </header>
    
      <div class="container">
    
        <section id="cart"> 
            {% for i in items %}
            <form action="{% url 'project_app:placeorder' item=i.ItemId %}" method="post" id="your_form" enctype="multipart/form-data">
                {% csrf_token %}
          <article class="product">
            <header class="header">
              <a class="remove">
                <img src="{{ i.Image }}" alt="">
    
                <h3>Remove Dish</h3>
              </a>
            </header>

            <!-- INPUT WALA JUGAD -->
            <input type="number" class="qt-input" name='quant' id='quant'>
    
            <div class="content">
    
              <h1>{{ i.ItemName }}</h1>

              {{ i.Description }}

            </div>
    
            <footer class="content">
              <span class="qt-minus">-</span>
              <span class="qt" id="quant">1</span>
              <span class="qt-plus">+</span>
    
              <h2 class="full-price">
                {{ i.price }}
              </h2>
    
              <h2 class="price">
                {{ i.price }}
              </h2>
            </footer>
          </article>
          <footer id="site-footer">
            <div class="container clearfix">
        
              <div class="left">
                <h2 class="subtotal">Subtotal: ₹ <span>{{ i.price }}</span></h2>
                <h3 class="tax">Taxes (5%): ₹ <span></span></h3>
                <h3 class="shipping">Shipping: ₹ <span>5.00</span></h3>
              </div>
        
              <div class="right">
                <h1 class="total">Total: ₹ <span>{{ i.price }}</span></h1>
                <button class="btn" type="submit">Add</button>
              </div>
        
            </div>
          </footer>
        </form>
          {% endfor %}
    
          <!-- <article class="product">
            <header class="header">
              <a class="remove">
                <img src="{% static 'images/dish2.jpg' %}" alt="">
    
                <h3>Remove Dish</h3>
              </a>
            </header>
    
            <div class="content">
    
              <h1>Lorem ipsum dolor</h1>
    
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, numquam quis perspiciatis ea ad omnis provident laborum dolore in atque.
    
              
            </div>
    
            <footer class="content">
              
              <span class="qt-minus">-</span>
              <span class="qt">1</span>
              <span class="qt-plus">+</span>
    
              <h2 class="full-price">
                79.99
              </h2>
    
              <h2 class="price">
                79.99
              </h2>
            </footer>
          </article> -->
    
          <!-- <article class="product">
            <header class="header">
              <a class="remove">
                <img src="{% static 'images/dish3.jpg' %}" alt="">
    
                <h3>Remove Dish</h3>
              </a>
            </header>
    
            <div class="content">
    
              <h1>Lorem ipsum dolor ipsdu</h1>
    
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, numquam quis perspiciatis ea ad omnis provident laborum dolore in atque.
    
              
            </div>
    
            <footer class="content">
              
              <span class="qt-minus">-</span>
              <span class="qt">3</span>
              <span class="qt-plus">+</span>
    
              <h2 class="full-price">
                53.99
              </h2>
    
              <h2 class="price">
                17.99
              </h2>
            </footer>
          </article> -->
    
        </section>
    
      </div>
    
      




      <!-- script section starts -->

      <script>
        var check = false;

        function changeVal(el) {
          var qt = parseFloat(el.parent().children(".qt").html());
          var price = parseFloat(el.parent().children(".price").html());
          var eq = Math.round(price * qt * 100) / 100;
          
          el.parent().children(".full-price").html(eq );
          
          changeTotal();      
        }
        
        function changeTotal() {
          
          var price = 0;
          
          $(".full-price").each(function(index){
            price += parseFloat($(".full-price").eq(index).html());
          });
          
          price = Math.round(price * 100) / 100;
          var tax = Math.round(price * 0.05 * 100) / 100
          var shipping = parseFloat($(".shipping span").html());
          var fullPrice = Math.round((price + tax + shipping) *100) / 100;
          
          if(price == 0) {
            fullPrice = 0;
          }
          
          $(".subtotal span").html(price);
          $(".tax span").html(tax);
          $(".total span").html(fullPrice);
        }
        
        $(document).ready(function(){
          
          $(".remove").click(function(){
            var el = $(this);
            el.parent().parent().addClass("removed");
            window.setTimeout(
              function(){
                el.parent().parent().slideUp('fast', function() { 
                  el.parent().parent().remove(); 
                  if($(".product").length == 0) {
                    if(check) {
                      $("#cart").html("Thank you!</p>");
                    } else {
                      $("#cart").html("<h1>No products!</h1>");
                    }
                  }
                  changeTotal(); 
                });
              }, 200);
          });
          
          $(".qt-plus").click(function(){
            $(this).parent().children(".qt").html(parseInt($(this).parent().children(".qt").html()) + 1);

            //INPUT WALA JUGAD IS HERE SHRUTI

            document.getElementsByClassName("qt-input").value=$(this).parent().children(".qt").html();
            console.log(document.getElementsByClassName("qt-input").value);
            console.log("hello");

            //INPUT JUGAD END
            
            $(this).parent().children(".full-price").addClass("added");
            
            var el = $(this);
            window.setTimeout(function(){el.parent().children(".full-price").removeClass("added"); changeVal(el);}, 150);
          });
          
          $(".qt-minus").click(function(){
            
            child = $(this).parent().children(".qt");
            
            if(parseInt(child.html()) > 1) {
              child.html(parseInt(child.html()) - 1);
            }

            //INPUT WALA JUGAD IS HERE SHRUTI

            document.getElementsByClassName("qt-input").value=$(this).parent().children(".qt").html();
            console.log(document.getElementsByClassName("qt-input").value);
            console.log("hello");

            //INPUT JUGAD END
            
            $(this).parent().children(".full-price").addClass("minused");
            
            var el = $(this);
            window.setTimeout(function(){el.parent().children(".full-price").removeClass("minused"); changeVal(el);}, 150);
          });
          
          window.setTimeout(function(){$(".is-open").removeClass("is-open")}, 1200);
          
          $(".btn").click(function(){
            check = true;
            $(".remove").click();
          });
        });

        function storearray(){
            var quantity = document.getElementById('quant').value;
		document.cookie = "quantity="+ quantity;
		// window.location = "/checkout/";
	};
      </script>
      <!-- script section ends -->
</body>
</html>